name: Standard ROS Build Checker

on:
    push:
    pull_request:
env:
    ROS_WS: ${{ github.workspace }}/ros2_ws/
    ROS_SRC: ${{ github.workspace }}/ros2_ws/src

jobs:
  ros-build:
    runs-on: ${{ matrix.runners }}
    strategy:
      matrix:
        runners:
          - [ubuntu-24.04-arm]
          - [self-hosted, qcom-u2404, arm64, arm64-8x]

    container: ros:jazzy
    steps:
      - name: Update and install extra packages
        run: |
          # Add QCOM PPA
          sudo apt-get update
          sudo apt-get install -y software-properties-common

          sudo add-apt-repository -y ppa:ubuntu-qcom-iot/qcom-ppa
          sudo add-apt-repository -y ppa:ubuntu-qcom-iot/qirp

          sudo apt update -y && sudo apt upgrade -y
          sudo apt install -y wget python3-bloom python3-rosdep fakeroot debhelper dh-python unzip
          curl "https://awscli.amazonaws.com/awscli-exe-linux-aarch64.zip" -o "awscliv2.zip"
          unzip awscliv2.zip
          sudo ./aws/install

      - name: Checkout source code
        uses: actions/checkout@v4
        with:
          path: ${{ env.ROS_SRC }}/${{ github.event.repository.name }}

      - name: Check ROS dependency
        run: |
          wget https://raw.githubusercontent.com/qualcomm-qrb-ros/qrb_ros_distro/refs/heads/main/qrb-ros-dep/qcom-distribution.yaml -O ${ROS_WS}/qcom-distribution.yaml
          if [ -f /etc/ros/rosdep/sources.list.d/20-default.list ];then
            echo "yaml file://${ROS_WS}/qcom-distribution.yaml" | sudo tee -a /etc/ros/rosdep/sources.list.d/20-default.list
          fi 
          sudo rosdep update
          sudo rosdep install -y --rosdistro jazzy --from-paths ${ROS_SRC} --ignore-src

      - name: Build ROS packages
        shell: bash
        run: |
          cd ${ROS_WS}
          source /opt/ros/jazzy/setup.sh
          colcon build

      - name: Generate Debian packages
        continue-on-error: true
        shell: bash
        run: |
          cd ${ROS_WS}
          mkdir ${ROS_WS}/debian_dir
          export OUTPUT_DIR=${ROS_WS}/debian_dir
          source /opt/ros/jazzy/setup.sh

          for pkg in $(colcon list -t | cut -f2)
          do
            cd ${pkg}

            bloom-generate rosdebian --ros-distro "jazzy" -i "$(date +%s)"

            # Build package using fakeroot
            fakeroot debian/rules binary -j8

            # Move build result to the output directory
            mv ../*.deb $OUTPUT_DIR
            mv ../*.ddeb $OUTPUT_DIR
            ls -al $OUTPUT_DIR
          done

      - name: Stage build artifacts for publishing
        continue-on-error: true
        run: |
          build_dir=./uploads
          mkdir -p $build_dir

          tar -cvf "${build_dir}/${{ github.event.repository.name }}-ubuntu-artifacts.tar" --transform "s|^${ROS_WS}/||" -C "${ROS_WS}" install build log
          tar -cvf "${build_dir}/${{ github.event.repository.name }}-ubuntu-debs.tar" --transform "s|^${ROS_WS}/||" -C "${ROS_WS}" debian_dir

      - name: Upload artifacts to S3 bucket
        continue-on-error: true
        uses: qualcomm-linux/upload-private-artifact-action@aws-v2
        with:
          path: ./uploads
          destination: ${{ github.repository_owner }}/${{ github.event.repository.name }}/${{ github.run_id }}-${{ github.run_attempt }}/
          s3_bucket: qli-prd-ros-gh-artifacts

      - name: Upload private artifacts
        continue-on-error: true
        uses: qualcomm-linux/upload-private-artifact-action@v1
        with:
          path: ./uploads
          fileserver_url: "https://quic-qrt-ros-fileserver-1029608027416.us-central1.run.app"